<!-- Describe task in general -->

<p style="text-align: justify;">
    Sortowanie może być wykonywane sensownie zgodnie z dowolnymi kryteriami porównania, o ile kryteria te spełniają matematyczne wymagania <strong>całkowitej</strong> relacji porządkującej. Aby zagłębić się w tę koncepcję, zdefiniujmy zwariowaną relację porządkowania dodatnich liczb całkowitych, tak aby dla dowolnych dwóch liczb całkowitych ta, która zawiera cyfrę 9 więcej razy, była uważana za większą, niezależnie od wielkości i innych cyfr tych liczb.
</p>

<p style="text-align: justify;">
    Na przykład, <code>99> 123456789> 10<sup>10</sup></code> w tej kolejności. Jeśli obie liczby całkowite zawierają cyfrę 9 tyle samo razy, porównanie przechodzi do następnej niższej cyfry 8 i tak dalej, aż do znalezienia pierwszej cyfry rozróżniającej. Jeśli obie liczby całkowite zawierają każdą cyfrę od 9 do 0 parami tyle samo razy, <strong>zwykłe porównanie kolejności</strong> liczb całkowitych określa ich wzajemne uporządkowanie. 
</p>

<p style="text-align: justify;">
    Państwa celem jest posortowanie danej sekwencji liczb całkowitych zgodnie z tą regułą w porządku rosnącym. Zobaczmy dodatkowy przykład dla danych wejściowych <code>[111, 19, 919, 1199, 911, 999]</code>.
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}ordinary-cardinals.png" alt="example" style="max-height: 300px"/>
</p>

<!-- Explain input and output values -->
<p>
   <strong>Wejście:</strong> {% if is_js %}Tablica{% else %}Lista{% endif %} <span>({% if is_js %}Array{% else %}List{% endif %})</span> liczb całkowitych <span>({% if is_js %}number{% else %}int{% endif %})</span>.
</p> 

<p>
   <strong>Dane wyjściowe:</strong> {% if is_js %}Tablica{% else %}Lista{% endif %} <span>({% if is_js %}Array{% else %}List{% endif %})</span> liczb całkowitych <span>({% if is_js %}number{% else %}int{% endif %})</span>. 
</p>


<p>
    <strong>Przykłady:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<!-- <p class="for_info_only">

    <strong>How it’s used:</strong>
    <i>(math is used everywhere)</i>
</p> -->

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<!-- <p>
    <strong>Preconditions:</strong>
    <ul>
    <li><i>both given ints should be between -1000 and 1000</i></li>
    </ul>
</p> -->
<p><i>Misja została zaczerpnięta z <span>Python CCPS 109</span>. Jest ona nauczana dla <span>Ryerson Chang School of Continuing Education</span> przez <a href="https://github.com/ikokkari">Ilkka Kokkarinen</a></i></p>